.footer {
  padding: 150px 0 20px 0;
  background: url("../img/footer_bg.png") center center / cover no-repeat;
  &__wrapper {
    display: flex;
  }
  &__descr {
    max-width: 440px;
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }
  &__form-input {
    padding: 20px 27px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    &::placeholder {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: #909090;
    }
  }
  &__btn {
    padding: 28px 135px;
    margin-top: 25px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #c8ead6;
    background-image: linear-gradient(63deg, #12bc82 0%, #bfdf2c 99%);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 11px 12px -5px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    @include ExtraBold;
    @media (min-width: 1200px) {
      position: relative;
      overflow: hidden;
      transition: 1s;
      @include btn-hover;
    }
  }
  &__form-policy {
    font-size: 14px;
    margin-top: 21px;
    line-height: 1.2;
    color: #ffffff;
  }
  &-policy__link {
    text-decoration: underline;
    color: inherit;
  }
  &__year {
    font-size: 10px;
    line-height: 1.2;
    margin-top: 200px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__form {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}

@media (max-width: 420px) {
  .footer {
    background: url("../img/footer_mob.png") center center / cover no-repeat;
    padding: 40px 0 20px 0;
    &__descr {
      font-size: 20px;
    }
    &__year {
      margin-top: 65px;
    }
    &__btn {
      padding-right: 90px;
      padding-left: 90px;
    }
  }
}
